body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:linear-gradient(#15462b7e, #5f0e285b), url('../images/orxy/0387375e-1957-4b10-bdfd-266add547a1b\ 1.png');
}

/* General Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a.blog {
    background-color: #800000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive Styles */



.hero {
    display: flex;
    justify-content: space-between;
}
.vison-section{
    width: 50%;
    padding: 0;
    margin: 0;
}
.v-image{
    border-radius:0 0 0 10%;
    background:linear-gradient(rgba(116, 8, 31, 0.3),rgba(116, 8, 31, 0.3)), url('../images/orxy/v-bg.png');
}
.v-image img{
    width: 100%;
}
.hero-content {
    color: #fff;
    width: 50%;
    padding: 40px;
}

.hero-content h1 {
    margin-top: 0;
    font-size: 3em;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.vision {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 90%;
    margin: 20px auto;
}
.award{
    margin: 20px;
}
.award img{
    border-radius: 20px;
}
.vision h2 {
    margin-top: 0;
}
.vision p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.about {
    padding: 0 50px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    width: 85%;
    justify-content: space-around;
    align-items: center;
    color: #5F0E27;
    background: linear-gradient(60deg, #4CAF50,#fff, #fff);
}
.left-div{
    width: 50%;
}
.left-div img{
    width: 132%;
}
.right-div{
    width: 50%;
}
.carousel-indicators li{
    background-color: #333;
    border: 1px solid #032c05;
}
.carousel-indicators {
    top:100%
}

.gallery {
    padding: 50px;
    text-align: center;
}

.gallery h2 {
    font-size: 2em;
    color: #333;
}

.gallery-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-images img {
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    height: auto;
    border-radius: 10px;
}

footer {
    background: linear-gradient(rgb(4, 82, 4),rgba(2, 46, 2, 0.877));
    color: white;
    padding: 50px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-column p, .footer-column ul {
    font-size: 1em;
    line-height: 2.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}


.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 24px;
}

.social-icons a:hover {
    color: #ccc;
}


@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
.hero{
    flex-direction: column;
}
.hero-content {
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px;
}
.vison-section{
    width: 100%;
    margin: 0;
}
.v-image{
    width: 100%;
    border-radius: 0;
}
.award img{
    width: 98%;
    margin: 10px auto;
}
.about{
    flex-direction: column;
}
.left-div, .right-div{
    width: 100%;
}
.gallery-images img{
    width: 40%;
}
.gallery{
    padding: 10px;
}

}